html, body
{
  /* Apariencia general */
  background-color: #005f;
  color: #00ffff;
  margin: 0 auto;
 /* Centro todos elementos con unidades relativas */ 
  margin-left: 15%;
  padding: 0;
  text-align: justify;
  font-size: 19px;
}

a
{
 /* Le doy estillo personalizado a los enlaces */ 
  color: #00f77f;
}

.titulo
{
 /* Estilizar ttulos */ 
  color: #00ff23;
}

.tierno
{
  /* Trozos de texto tiernos */
    border-radius: 0.4em;
    font-family: 'Sans Serif';
    color: #0000ff;
}

.herramientas
{
 /* Resaltado antes de mostrar todas las herramientas,
    mensaje informativo */
  border: 4px dotted #0015bb;
/* Espaciado de texto */  
  padding: 1%;
  inline-size: 0.5%;
  font-size: 20px;
  width: 50%;
  border-radius: 0.2em;
}

.herramienta
{
 /* Resaltado de cada herramienta informativa */ 
  border: 1.9px solid #0023bb;
  text-align: center;
  border-radius: 0.1em;
}
