html, body
{
  /* Apariencia general */
  margin: 0 auto;
 /* Centro todos elementos con unidades relativas */ 
  margin-left: 15%;
  padding: 0;
  text-align: justify;
  font-size: 19px;
}

.titulo
{
 /* Estilizar ttulos */ 
  color: #00ff23;
}

.tierno
{
  /* Trozos de texto tiernos */
    border-radius: 0.4em;
    color: #0000ff;
}

.herramientas
{
 /* Resaltado antes de mostrar todas las herramientas,
    mensaje informativo */
  border: 2px dotted #0015bb;
  font-size: 20px;
  width: 50%;
  border-radius: 0.2em;
}

.herramienta
{
 /* Resaltado de cada herramienta informativa */ 
  border: 1.9px solid #0023bb;
  text-align: center;
  border-radius: 0.1em;
}
